
body{
    margin:0;
    font-family: 'orange_kidregular';
}

/* NAV BAR STYLE*/

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/* NAVIGATION POSITION */
#menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3e2b24;
    color: rgba(0, 0, 0, 0.0);
    box-shadow: 5px 5px 5px 5px;
    font-size: 22px;
}

/* HORIZONTAL LIST AND SPACING */
li {
    display: inline-block;
    margin-right: 1px;
}

/* NAVIGATION LINK STYLE */
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: 'orange_kidregular';
    color: #E7E0D8;
    background: #3e2b24;
    text-decoration: none;
}
/* HOVER STATE */
li:hover a {
    background: #E7E0D8;
    color: #573C33;
}

/* SHOWS WHICH PAGE IS CURRENTLY OPENED */ 
ul li.current a{
    background: #E7E0D8;
    color: #573C33;
}

/* DROP DOWN LINK STYLE*/
li:hover ul a {
    background: #3e2b24;
    color: #E7E0D8;
    height: 40px;
    line-height: 40px;
}
/* HOVER FOR DROP DOWN LINKS*/
li:hover ul a:hover {
    background: #E7E0D8;
    color: #573C33;
}
/* HIDE DROP DOWN LINKS UNTIL NEEDED*/
li ul {
    display: none;
}
/* DROP DOWN LINKS VERTICAL */
li ul li {
    display: block;
    float: none;
}
/* NO TEXT WRAPPING */
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/* DISPLAY DROP DOWN WHEN HOVER */
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/* STYLE FOR MENU BUTTON */
.show-menu {
    font-family: 'orange_kidregular';
    font-size: 22px;
    text-decoration: none;
    color:#E7E0D8;
    background: #3e2b24;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/* HIDE CHECKBOX */
input[type=checkbox]{
    display: none;
}
/* SHOW MENU WHEN ITS CLICKED ON */
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/* RESPOINSIVE STYLES */
@media screen and (max-width : 736px){
    /* INLINE DROP DOWN LINKS */
    ul {
        position: static;
        display: none;
    }
    /* SPACING */
    li {
        margin-bottom: 1px;
    }
    /* WIDTH FOR THE LINKS */
    ul li, li a {
        width: 100%;
    }
    /* DISPLAY MENU LINK */
    .show-menu {
        display:block;
    }
}

/* TEXT SIZE AND THEIR FONTS */

h1{
    font-family: 'manaspaceregular';
    font-size: 2.5em;
    margin: 1.5em;
}


h2 {
    font-family: 'manaspaceregular';
    font-size: 2em;
    margin: 1.5em;
}

p {
    font-family: 'orange_kidregular';
    font-size: 1.5em;
    margin: 2em;
}

/* FONTS */

@font-face {
    font-family: 'manaspaceregular';
    src: url('../fonts/manaspc-webfont.woff2') format('woff2'),
        url('../fonts/manaspc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'manaspaceregular';
    src: url('../fonts/manaspc-webfont.woff2') format('woff2'),
        url('../fonts/manaspc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lunchtime_doubly_soregular';
    src: url('../fonts/lunchds-webfont.woff2') format('woff2'),
        url('../fonts/lunchds-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'orange_kidregular';
    src: url('../fonts/orange-kid.regular-webfont.woff2') format('woff2'),
        url('../fonts/orange-kid.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* RESPONSIVENESS STYLE (MOBILE GRID VERSION) HOME PAGE AND ABOUT PAGE */ 

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto auto auto auto auto; /* auto fits the content */
    grid-template-areas: 
        "header header header header"
        "sidebar sidebar sidebar sidebar"
        "content content content content"
        "sidebar2 sidebar2 sidebar2 sidebar2"
        "content2 content2 content2 content2"
        "sidebar3 sidebar3 sidebar3 sidebar3"
        "content3 content3 content3 content3"
        "footer footer footer footer"; 

}


.grid-study {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:
        "header header"
        "sidebar sidebar"
        "content content"
        "sidebar2 sidebar2"
        "content2 content2"
        "sidebar3 sidebar3"
        "content3 content3"
        "footer footer";
}

/* RESPONSIVENESS STYLE (MOBILE GRID VERSION) FOR COFFEE PAGE */

.grid-coffee{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto 1fr 1fr auto; /* auto fits the content */
    grid-template-areas: 
        "header header"
        "title title"
        "coffee1 coffee1"
        "coffee2 coffee2"
        "coffee3 coffee3"
        "coffee4 coffee4"
        "coffee5 coffee5"
        "coffee6 coffee6"
        "footer footer"; 

}




/* RESPONSIVENESS STYLE FOR CONTANT US PAGE - STILL NOT FULLY DONE */
.grid-contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar sidebar"
        "content content"
        "footer footer";
}

/* HOME PAGE AND ABOUT PAGE STYLING */

.sidebar, .sidebar2, .sidebar3{
    padding-right: 0;
}


.header{
    grid-area: header;
    padding-bottom: 5.5em;
    background-color: #573C33;
}

/* SIDEBAR IS FOR THE CONTENT ON THE LEFT */

.sidebar{
    grid-area: sidebar;
    color: #E7E0D8;
    background-color: #573C33;
}

/* CONTENT IS FOR ALL THE CONTENT ON THE RIGHT  */

.content{
    grid-area: content;
    background-color: #573C33;
}

.sidebar2{
    grid-area: sidebar2;
    color: #573C33;
    background-color: #E7E0D8;
}  

.content2{
    grid-area: content2;
    background-color: #E7E0D8;
}

.sidebar3{
    grid-area: sidebar3;
    color: #E7E0D8;
    background-color: #573C33;
}

.content3{
    grid-area: content3;
    background-color: #573C33;
}

.sidebar,
.sidebar2,
.sidebar3{
    align-content: center;
    margin:0;
}

.content,
.content2,
.content3{
    margin: 0;
    justify-items: start;
}

/* COFFEE PAGE STYILING */

.title-coffee{
    grid-area: title;
    color: #E7E0D8;
    background-color: #573C33;
    text-align: center;
}

.coffee1{
    grid-area: coffee1;
    color: #E7E0D8;
    background-color: #573C33;
    text-align: center;
}  

#espresso{
    padding-top: 1em;
}

.coffee2{
    grid-area: coffee2;
    color: #E7E0D8;
    background-color: #573C33;
    text-align: center;
}  

.coffee3{
    grid-area: coffee3;
    color: #E7E0D8;
    background-color: #573C33;
    text-align: center;
}

.coffee4{
    grid-area: coffee4;
    color: #E7E0D8;
    background-color: #573C33;
    text-align: center;
}

.coffee5{
    grid-area: coffee5;
    color: #E7E0D8;
    background-color: #573C33;
    text-align: center;
}  

.coffee6{
    grid-area: coffee6;
    color: #E7E0D8;
    background-color: #573C33;
    text-align: center;
}  

/* STYLING FOR THE COFFEE CONTENT */

.coffee-name{
    margin-top: 0.5em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.coffee, .coffee-location{
    margin: 0;
    padding: 0;
}

.coffee-icon{
    padding-bottom: 0;
}

.hearts{
    margin-bottom: 2em;
}

/* END OF COFFEE STYLING */

.footer{
    grid-area: footer;
    text-align: center;
    color: #573C33;
    background-color: #E7E0D8;
}

img.even {
    height: 300px;
    width: 300px;
    background-color: #E7E0D8;
    border-radius: 50%;
    margin: 5em;
}

img.odd {
    height: 300px;
    width: 300px;
    background-color: #573C33;
    border-radius: 50%;
    margin: 5em;

}

img.study {
    margin: 2em;
}

/* THIS IS HOW ITS GONNNA LOOK ON THE BIG SCREEN */

@media screen and (min-width: 736px){
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr;
        grid-template-areas:
            "header header header header"
            "sidebar sidebar sidebar content"
            "content2 sidebar2 sidebar2 sidebar2"
            "sidebar3 sidebar3 sidebar3 content3"
            "footer footer footer footer";
    }

    .grid-study {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr;
        grid-template-areas:
            "header header"
            "sidebar content"
            "content2 sidebar2"
            "sidebar3  content3"
            "footer footer";
    }

    .grid-coffee {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "header header"
            "title title"
            "coffee1 coffee2"
            "coffee3 coffee4"
            "coffee5 coffee6"
            "footer footer";
    }

    .grid-contact-us {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header"
            "content sidebar"
            "footer footer";
    }

    /* .sidebar, .sidebar2, .sidebar3 {
        padding-right: 20%;
    } */
}

/* contact us */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #3e2b24;
    color: #E7E0D8;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background: #E7E0D8;
    color: #573C33;
}

.container {
    background-color: #573C33;
    padding: 20px;
    color: #E7E0D8;
}

