
body{
    margin:0;
    font-family: 'orange_kidregular';
}

/* Navigation styles start */

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/*Position the nagivation bar on the right */
#menu {
    position: absolute;
    top: 50px;
    right: 0px;
}

/*Create a horizontal list with spacing*/
li {
    display: inline-block;
    float: left;
    margin-right: 1px;
}

/*Style for menu links*/
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: 'orange_kidregular';
    color: #573C33;
    background: #fff;
    text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
    background: sienna;
}
/*Style for dropdown links*/
li:hover ul a {
    background: lightcoral;
    color: #fff;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: burlywood;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: 'orange_kidregular';
    text-decoration: none;
    color:#E7E0D8;
    background: lightsalmon;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 736px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}

/* Dan-kun font*/

h1 {
    font-family: 'manaspaceregular';
    font-size: 2em;
    margin: 1.5em;
}

p {
    font-family: 'orange_kidregular';
    font-size: 1.5em;
    margin: 2em;
}

@font-face {
    font-family: 'manaspaceregular';
    src: url('../fonts/manaspc-webfont.woff2') format('woff2'),
        url('../fonts/manaspc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'manaspaceregular';
    src: url('../fonts/manaspc-webfont.woff2') format('woff2'),
        url('../fonts/manaspc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lunchtime_doubly_soregular';
    src: url('../fonts/lunchds-webfont.woff2') format('woff2'),
        url('../fonts/lunchds-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'orange_kidregular';
    src: url('../fonts/orange-kid.regular-webfont.woff2') format('woff2'),
        url('../fonts/orange-kid.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding: 0;
}

/* THIS is HOW ITS GONna LOOK ON THE PHONE */ 

.grid{
    display: grid;
    grid-template-columns: 1.5fr 1fr; 
    grid-template-rows: auto 1fr 1fr 1fr auto; /* auto fits the content */
    grid-template-areas: 
        "header header"
        "sidebar sidebar"
        "content content"
        "sidebar2 sidebar2"
        "content2 content2"
        "sidebar3 sidebar3"
        "content3 content3"
        "footer footer"; 
}

.header{
    grid-area: header;
    padding-bottom: 9em;
}

.sidebar{
    grid-area: sidebar;
}

.content{
    grid-area: content;
}

.sidebar2{
    grid-area: sidebar2;
}  

.content2{
    grid-area: content2;
}

.sidebar3{
    grid-area: sidebar3;
}

.content3{
    grid-area: content3;
}

.sidebar,
.sidebar2,
.sidebar3{
    align-content: center;
    margin:0;
}

.content,
.content2,
.content3{
    margin: 0;
    justify-items: start;
}


.footer{
    grid-area: footer;
    text-align: center;
}


.grid div:nth-child(1){
    background-color:burlywood;
}

.grid div:nth-child(2){
    background-color:burlywood;
}
.grid div:nth-child(3){
    background-color:burlywood;
}

.grid div:nth-child(4){
    background-color: #573C33;
}

.grid div:nth-child(5){
    background-color: #573C33;
}

.grid div:nth-child(6){
    background-color:burlywood;
}

.grid div:nth-child(7){
    background-color:burlywood;
}


.grid div:nth-child(8){
    background-color:salmon;
}

/* THIs is HOW ITS GONna LOOK ON THE BIG SCREEN */

@media screen and (min-width: 736px){
    .grid{
        display: grid;
        grid-template-columns: 1.5fr 1fr; /* auto fits the content */
        grid-template-rows: auto 1fr 1fr 1fr auto;
        grid-template-areas: 
            "header header"
            "sidebar content"
            "content2 sidebar2"
            "sidebar3 content3"
            "footer footer"; 
    }

    .sidebar,
    .sidebar2,
    .sidebar3{
        padding-left: 19%;
    }

}

img{
    height: 300px;
}